{:highlights [{:id #uuid "665b21c8-dc9b-444b-abeb-0e784a3f29a6",
               :page 10,
               :position {:bounding {:x1 88.42010354995728,
                                     :y1 132.4803924560547,
                                     :x2 642.7976365089417,
                                     :y2 199.74755859375,
                                     :width 731,
                                     :height 1033.802862326144},
                          :rects ({:x1 468.0602707862854,
                                   :y1 132.4803924560547,
                                   :x2 642.7976365089417,
                                   :y2 148.9120635986328,
                                   :width 731,
                                   :height 1033.802862326144}
                                  {:x1 88.42010354995728,
                                   :y1 149.42555236816406,
                                   :x2 642.3871750831604,
                                   :y2 165.85723114013672,
                                   :width 731,
                                   :height 1033.802862326144}
                                  {:x1 88.42010354995728,
                                   :y1 166.37071990966797,
                                   :x2 642.5088181495667,
                                   :y2 182.80239868164062,
                                   :width 731,
                                   :height 1033.802862326144}
                                  {:x1 88.42010354995728,
                                   :y1 183.31588745117188,
                                   :x2 242.4767289161682,
                                   :y2 199.74755859375,
                                   :width 731,
                                   :height 1033.802862326144}),
                          :page 10},
               :content {:text "Insgesamt werden zusätzliche Investitionen von mehr als 620 Mrd. EUR jährlich erforderlich sein, um die Ziele des Grünen Deals und des RepowerEU-Plans zu erreichen. Der weitaus größte Teil davon wird aus privaten Mitteln stammen müssen"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
