{:highlights [{:id #uuid "682228ec-f752-4701-bdfa-f32be0dcb676",
               :page 93,
               :position {:bounding {:x1 27,
                                     :y1 54.16796875,
                                     :x2 594,
                                     :y2 430.02166748046875,
                                     :width 608.0216655382532,
                                     :height 429.9309410968179},
                          :rects (),
                          :page 93},
               :content {:text "[:span]", :image 1747069162472},
               :properties {:color "yellow"}}
              {:id #uuid "682229b7-0aa7-4c45-a067-78ad2a02ddb7",
               :page 103,
               :position {:bounding {:x1 19,
                                     :y1 51.8828125,
                                     :x2 582,
                                     :y2 389.8828125,
                                     :width 608.0216655382532,
                                     :height 429.9309410968179},
                          :rects (),
                          :page 103},
               :content {:text "[:span]", :image 1747069364989},
               :properties {:color "yellow"}}],
 :extra {:page 103}}
