{:highlights [{:id #uuid "68222261-7ac3-4f31-99d0-86d354c79007",
               :page 31,
               :position {:bounding {:x1 81.13615494593978,
                                     :y1 463.4008331298828,
                                     :x2 527.1829078756273,
                                     :y2 641.3631286621094,
                                     :width 608.0449404981892,
                                     :height 859.9160053487795},
                          :rects ({:x1 81.13615494593978,
                                   :y1 463.4008331298828,
                                   :x2 497.98671036586165,
                                   :y2 486.22259521484375,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 81.13615494593978,
                                   :y1 486.9476623535156,
                                   :x2 265.2234657369554,
                                   :y2 509.7694396972656,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.64016037806869,
                                   :y1 516.1761779785156,
                                   :x2 527.1643531881273,
                                   :y2 528.3478088378906,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.628273781389,
                                   :y1 532.3653869628906,
                                   :x2 527.1829078756273,
                                   :y2 544.5369873046875,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 248.34129410609603,
                                   :y1 532.4723510742188,
                                   :x2 250.31442337855697,
                                   :y2 539.5803833007812,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.64016037806869,
                                   :y1 548.5426940917969,
                                   :x2 527.0416191183031,
                                   :y2 560.7142944335938,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.65204697474837,
                                   :y1 564.7200012207031,
                                   :x2 527.026840981096,
                                   :y2 576.8916015625,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 357.7669227682054,
                                   :y1 569.8667907714844,
                                   :x2 363.6863258443773,
                                   :y2 576.9748229980469,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.65204697474837,
                                   :y1 580.7784423828125,
                                   :x2 527.1056373678148,
                                   :y2 592.9500427246094,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 301.99623185023665,
                                   :y1 585.9252319335938,
                                   :x2 305.9543922506273,
                                   :y2 593.0332641601562,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.64016037806869,
                                   :y1 596.9557495117188,
                                   :x2 527.0674293600023,
                                   :y2 609.1273498535156,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 280.3036659322679,
                                   :y1 602.1025390625,
                                   :x2 284.26182633265853,
                                   :y2 609.2105712890625,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.65204697474837,
                                   :y1 613.133056640625,
                                   :x2 527.1630638204515,
                                   :y2 625.3046569824219,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}
                                  {:x1 124.64016037806869,
                                   :y1 629.1914978027344,
                                   :x2 409.44966965541244,
                                   :y2 641.3631286621094,
                                   :width 608.0449404981892,
                                   :height 859.9160053487795}),
                          :page 31},
               :content {:text "Energy sector carbon emissions reached a new record in 2024 Total energy-related CO 2 emissions increased by 0.8% in 2024, hitting an all-time high of 37.8 Gt CO 2 3 . This rise contributed to record atmospheric CO 2 concentrations of 422.5 ppm in 2024, around 3 ppm higher than 2023 and 50% higher than pre-industrial levels. In 2024, CO 2 emissions from fuel combustion grew by around 1% or 357 Mt CO 2, while emissions from industrial processes declined by 2.3% or 62 Mt CO 2. Emissions growth was lower than global GDP growth (+3.2%), restoring the decades-long trend of decoupling emissions growth from economic growth, which had been disrupted in 2021"},
               :properties {:color "yellow"}}
              {:id #uuid "682222ef-6de6-409f-a0fd-95f104eff65c",
               :page 32,
               :position {:bounding {:x1 72,
                                     :y1 69.943359375,
                                     :x2 537,
                                     :y2 358.943359375,
                                     :width 608.0449404981892,
                                     :height 859.9160053487795},
                          :rects (),
                          :page 32},
               :content {:text "[:span]", :image 1747067629412},
               :properties {:color "yellow"}}],
 :extra {:page 32}}
