{:highlights [{:id #uuid "664af968-f744-4475-ac80-1ef9a509f469",
               :page 25,
               :position {:bounding {:x1 94.078125,
                                     :y1 190,
                                     :x2 706.4515991210938,
                                     :y2 312.8125,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 94.078125,
                                   :y1 190,
                                   :x2 706.4515991210938,
                                   :y2 207,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 216.5,
                                   :x2 706.445556640625,
                                   :y2 233.5,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 242.90625,
                                   :x2 706.4512329101562,
                                   :y2 259.90625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 269.296875,
                                   :x2 706.44921875,
                                   :y2 286.296875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 295.8125,
                                   :x2 181.93898010253906,
                                   :y2 312.8125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 25},
               :content {:text "Why, then, does global temperature cause more economic harm than local temperature? To shed light on this question, we study the climatic implications of local and global temperature shocks. Specifically, we investigate how these shocks impact the likelihood of extreme weather events, such as extreme temperature, extreme wind speed, and extreme precipitation"},
               :properties {:color "green"}}
              {:id #uuid "664afccf-41f7-4cd0-b104-bb3fd8e1904d",
               :page 26,
               :position {:bounding {:x1 101,
                                     :y1 109,
                                     :x2 415,
                                     :y2 355,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1716190413490},
               :properties {:color "yellow"}}],
 :extra {:page 26}}
