{:highlights [{:id #uuid "6821f6e0-9853-4c94-9ad7-720cfb2c8d12",
               :page 13,
               :position {:bounding {:x1 69.6064084507525,
                                     :y1 513.9415435791016,
                                     :x2 509.3954938389361,
                                     :y2 569.2962188720703,
                                     :width 608.0000000000001,
                                     :height 801.9805535583496},
                          :rects ({:x1 69.6064084507525,
                                   :y1 513.9415435791016,
                                   :x2 82.87558874860406,
                                   :y2 523.8309783935547,
                                   :width 608.0000000000001,
                                   :height 801.9805535583496}
                                  {:x1 257.11885199323297,
                                   :y1 513.9415435791016,
                                   :x2 509.3701337315142,
                                   :y2 523.8309783935547,
                                   :width 608.0000000000001,
                                   :height 801.9805535583496}
                                  {:x1 69.6064084507525,
                                   :y1 529.0966339111328,
                                   :x2 82.87558874860406,
                                   :y2 538.9860687255859,
                                   :width 608.0000000000001,
                                   :height 801.9805535583496}
                                  {:x1 98.66850409284234,
                                   :y1 529.0966339111328,
                                   :x2 509.3954938389361,
                                   :y2 538.9860687255859,
                                   :width 608.0000000000001,
                                   :height 801.9805535583496}
                                  {:x1 69.6064084507525,
                                   :y1 544.2517242431641,
                                   :x2 82.87558874860406,
                                   :y2 554.1411590576172,
                                   :width 608.0000000000001,
                                   :height 801.9805535583496}
                                  {:x1 98.66850409284234,
                                   :y1 544.2517242431641,
                                   :x2 509.32853827252984,
                                   :y2 554.1411590576172,
                                   :width 608.0000000000001,
                                   :height 801.9805535583496}
                                  {:x1 98.66850409284234,
                                   :y1 559.4067840576172,
                                   :x2 192.75451788678765,
                                   :y2 569.2962188720703,
                                   :width 608.0000000000001,
                                   :height 801.9805535583496}),
                          :page 13},
               :content {:text "The global surface mean concentrations of CO2, CH4 and N2O in 2024333 were 422.8 [±0.4] parts per million (ppm), 1929.7 [±3.3] parts per billion (ppb) and 337.9 [±0.4] ppb, respectively.334 Concentrations of all three major GHGs have increased since 2019, with CO2 increasing by 12.7 ppm, CH4 by 63.3335 ppb, and N2O by 5.8 ppb. "},
               :properties {:color "yellow"}}
              {:id #uuid "6821f90f-0be8-44f1-81c1-69e69b6b60a0",
               :page 14,
               :position {:bounding {:x1 98,
                                     :y1 163.2841796875,
                                     :x2 488,
                                     :y2 306.2841796875,
                                     :width 608.0000000000001,
                                     :height 801.9805535583496},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1747056909629},
               :properties {:color "yellow"}}
              {:id #uuid "68220704-1976-4891-b618-366e19892383",
               :page 38,
               :position {:bounding {:x1 86,
                                     :y1 387.46875,
                                     :x2 553,
                                     :y2 636.46875,
                                     :width 608.0000000000001,
                                     :height 801.9805535583496},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1747060482051},
               :properties {:color "yellow"}}
              {:id #uuid "68221795-d3f9-483e-b42c-115d9ad088ca",
               :page 9,
               :position {:bounding {:x1 92,
                                     :y1 550.28271484375,
                                     :x2 525,
                                     :y2 666.28271484375,
                                     :width 608.0000000000001,
                                     :height 801.9805535583496},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1747064724051},
               :properties {:color "yellow"}}
              {:id #uuid "6822181a-040d-4905-ae9c-48d7d0599e9b",
               :page 12,
               :position {:bounding {:x1 57,
                                     :y1 147.9267578125,
                                     :x2 540,
                                     :y2 488.9267578125,
                                     :width 608.0000000000001,
                                     :height 801.9805535583496},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1747064856808},
               :properties {:color "yellow"}}],
 :extra {:page 14}}
