{:highlights [{:id #uuid "664ddf3c-96cf-46ce-9581-d2d67cf31d6f",
               :page 10,
               :position {:bounding {:x1 154,
                                     :y1 257.09765625,
                                     :x2 450,
                                     :y2 461.09765625,
                                     :width 952.4415999999999,
                                     :height 1256.3152},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716379450541},
               :properties {:color "yellow"}}
              {:id #uuid "664def64-ee26-457a-8dca-8c952233b991",
               :page 10,
               :position {:bounding {:x1 109,
                                     :y1 829.267578125,
                                     :x2 617,
                                     :y2 893.267578125,
                                     :width 731.0000000000001,
                                     :height 964.2233300183447},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716383584453},
               :properties {:color "yellow"}}
              {:id #uuid "664defe1-8f72-4086-a713-0975666dc252",
               :page 11,
               :position {:bounding {:x1 96,
                                     :y1 164.267578125,
                                     :x2 631,
                                     :y2 395.267578125,
                                     :width 731.0000000000001,
                                     :height 964.2233300183447},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1716383711914},
               :properties {:color "yellow"}}
              {:id #uuid "664df262-d2a5-4569-a7ca-0d6c2d6571f8",
               :page 10,
               :position {:bounding {:x1 360,
                                     :y1 204.2119140625,
                                     :x2 606,
                                     :y2 349.2119140625,
                                     :width 731.0000000000001,
                                     :height 964.2233300183447},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716384352016},
               :properties {:color "yellow"}}
              {:id #uuid "664df3e5-a22b-426d-8b60-b3e779bb5002",
               :page 10,
               :position {:bounding {:x1 195,
                                     :y1 620.2431640625,
                                     :x2 615,
                                     :y2 855.2431640625,
                                     :width 1269.9221333333332,
                                     :height 1675.0869333333333},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716384739998},
               :properties {:color "yellow"}}
              {:id #uuid "664df524-ddb3-4829-be74-ca9114cbf020",
               :page 10,
               :position {:bounding {:x1 663.2691345214844,
                                     :y1 653.513671875,
                                     :x2 1103.2691345214844,
                                     :y2 917.513671875,
                                     :width 1349.2922666666666,
                                     :height 1779.7798666666665},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716385058639},
               :properties {:color "yellow"}}
              {:id #uuid "664df5bb-b81e-421c-9dc1-ece8d39ad4d4",
               :page 10,
               :position {:bounding {:x1 236.29899787902832,
                                     :y1 985.201171875,
                                     :x2 704.2989978790283,
                                     :y2 1255.201171875,
                                     :width 1428.6624,
                                     :height 1884.4728},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716385209175},
               :properties {:color "yellow"}}
              {:id #uuid "664df671-dec2-4831-8fec-6f4acde67210",
               :page 10,
               :position {:bounding {:x1 709.4947662353516,
                                     :y1 974.0410766601561,
                                     :x2 1185.78515625,
                                     :y2 1263.0360717773438,
                                     :width 1428.6624,
                                     :height 1884.4728},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1716385399289},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
