{:highlights [{:id #uuid "67f3878e-4805-4da8-9588-f40ed7646923",
               :page 4,
               :position {:bounding {:x1 47.474042270332575,
                                     :y1 598.2275848388672,
                                     :x2 293.8979009129107,
                                     :y2 687.2324829101562,
                                     :width 608,
                                     :height 801.9809425076543},
                          :rects ({:x1 136.00349554792047,
                                   :y1 598.2275848388672,
                                   :x2 293.67891058698297,
                                   :y2 608.8777465820312,
                                   :width 608,
                                   :height 801.9809425076543}
                                  {:x1 47.474042270332575,
                                   :y1 609.3769683837891,
                                   :x2 293.8979009129107,
                                   :y2 620.0271301269531,
                                   :width 608,
                                   :height 801.9809425076543}
                                  {:x1 47.474042270332575,
                                   :y1 620.5976715087891,
                                   :x2 293.5212567783892,
                                   :y2 631.2478332519531,
                                   :width 608,
                                   :height 801.9809425076543}
                                  {:x1 47.474042270332575,
                                   :y1 631.8302612304688,
                                   :x2 293.61625799909234,
                                   :y2 642.4804229736328,
                                   :width 608,
                                   :height 801.9809425076543}
                                  {:x1 47.474042270332575,
                                   :y1 642.9796447753906,
                                   :x2 293.6711591221392,
                                   :y2 653.6298065185547,
                                   :width 608,
                                   :height 801.9809425076543}
                                  {:x1 47.474042270332575,
                                   :y1 654.2003479003906,
                                   :x2 293.6417096592486,
                                   :y2 664.8505096435547,
                                   :width 608,
                                   :height 801.9809425076543}
                                  {:x1 47.474042270332575,
                                   :y1 665.3497467041016,
                                   :x2 293.62150702252984,
                                   :y2 675.9998931884766,
                                   :width 608,
                                   :height 801.9809425076543}
                                  {:x1 47.474042270332575,
                                   :y1 676.5823364257812,
                                   :x2 280.89506659284234,
                                   :y2 687.2324829101562,
                                   :width 608,
                                   :height 801.9809425076543}),
                          :page 4},
               :content {:text "Global fossil CO2 emissions (including cement carbonation) are expected to further increase in 2024 by 0.8 %. The 2023 emissions increase was 0.14 GtC yr−1(0.5 GtCO2 yr−1) relative to 2022, bringing 2023 fossil CO2 emissions to 10.1 ± 0.5 GtC yr−1 (36.8 ± 1.8 GtCO2 yr−1). Preliminary estimates based on data available suggest fossil CO2 emissions have increased further in 2024, by 0.8 % relative to 2023 (−0.2 % to1.7 %), bringing emissions to 10.2 GtC yr−1 (37.4 GtCO2 yr−1)"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
