{:highlights [{:id #uuid "687fc92b-c894-4770-924c-ab4731340372",
               :page 14,
               :position {:bounding {:x1 66,
                                     :y1 178.33984375,
                                     :x2 549,
                                     :y2 239.33984375,
                                     :width 601.9999999999999,
                                     :height 852.0036304961676},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1753205032770},
               :properties {:color "green"}}
              {:id #uuid "687fca2d-bd2f-4d9d-a596-921b32fe34bf",
               :page 16,
               :position {:bounding {:x1 69,
                                     :y1 108.59375,
                                     :x2 556,
                                     :y2 168.59375,
                                     :width 601.9999999999999,
                                     :height 852.0036304961676},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1753205291250},
               :properties {:color "green"}}
              {:id #uuid "687fca8b-3176-4419-8625-ff1945a90a80",
               :page 18,
               :position {:bounding {:x1 68,
                                     :y1 680.365234375,
                                     :x2 583,
                                     :y2 706.365234375,
                                     :width 601.9999999999999,
                                     :height 852.0036304961676},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1753205384711},
               :properties {:color "green"}}],
 :extra {:page 28}}
