{:highlights [{:id #uuid "664edb35-775f-4bc8-b867-6e96752bbaad",
               :page 6,
               :position {:bounding {:x1 191.4461350440979,
                                     :y1 815.5360107421875,
                                     :x2 634.5575852394104,
                                     :y2 880.7920227050781,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 191.4461350440979,
                                   :y1 815.5360107421875,
                                   :x2 620.5312180519104,
                                   :y2 829.2290649414062,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 191.4461350440979,
                                   :y1 832.7236633300781,
                                   :x2 634.5575852394104,
                                   :y2 846.4167175292969,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 191.4461350440979,
                                   :y1 849.9113159179688,
                                   :x2 611.9718918800354,
                                   :y2 863.6043701171875,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 191.4461350440979,
                                   :y1 867.0989379882812,
                                   :x2 376.50173807144165,
                                   :y2 880.7920227050781,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 6},
               :content {:text "In 2023, growth in solar and wind pushed the world past 30% renewable electricity for the first time. Renewables have expanded from 19% of global electricity in 2000, driven by an increase in solar and wind from 0.2% in2000 to a record 13.4% in 2023"},
               :properties {:color "green"}}
              {:id #uuid "664edbcb-6142-4933-854b-16b79a0a2a6e",
               :page 6,
               :position {:bounding {:x1 87.02226877212524,
                                     :y1 659.7916793823242,
                                     :x2 640.3076462745667,
                                     :y2 708.7871704101562,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 554.9871506690979,
                                   :y1 659.7916793823242,
                                   :x2 640.3076462745667,
                                   :y2 674.3976135253906,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 87.02226877212524,
                                   :y1 676.9793243408203,
                                   :x2 614.7621369361877,
                                   :y2 691.5852584838867,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 87.02226877212524,
                                   :y1 694.1812362670898,
                                   :x2 541.0297455787659,
                                   :y2 708.7871704101562,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 6},
               :content {:text "Nonetheless, the latest forecasts give confidence that 2024 will begin a new era of falling fossil generation, marking 2023 as the likely peak of power sector emissions"},
               :properties {:color "green"}}
              {:id #uuid "664edc86-9078-4ab7-880c-008260d34441",
               :page 6,
               :position {:bounding {:x1 191.4461350440979,
                                     :y1 867.0989379882812,
                                     :x2 643.6896042823792,
                                     :y2 915.1815795898438,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 383.85708475112915,
                                   :y1 867.0989379882812,
                                   :x2 617.5474534034729,
                                   :y2 880.7920227050781,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 191.4461350440979,
                                   :y1 884.3008728027344,
                                   :x2 643.6896042823792,
                                   :y2 897.9939270019531,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 191.4461350440979,
                                   :y1 901.4884948730469,
                                   :x2 326.544065952301,
                                   :y2 915.1815795898438,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 6},
               :content {:text "China was the main contributor in 2023, accounting for 51% of the additional global solar generation and 60% of new global wind generation"},
               :properties {:color "green"}}
              {:id #uuid "664ee135-99d8-42db-a198-c0322a7802b8",
               :page 6,
               :position {:bounding {:x1 191.44613647460938,
                                     :y1 918.6761779785156,
                                     :x2 636.9452514648438,
                                     :y2 966.7587890625,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 516.2188720703125,
                                   :y1 918.6761779785156,
                                   :x2 636.9452514648438,
                                   :y2 932.3692016601562,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 191.44613647460938,
                                   :y1 935.8780517578125,
                                   :x2 628.9324951171875,
                                   :y2 949.5711669921875,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 191.44613647460938,
                                   :y1 953.0657348632812,
                                   :x2 311.217529296875,
                                   :y2 966.7587890625,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 6},
               :content {:text "As a result, the CO2 intensity of global power generation reached a new record low, 12% lower than its peak in 2007"},
               :properties {:color "green"}}
              {:id #uuid "664ef2b5-455e-47a0-997a-8fed6576c441",
               :page 7,
               :position {:bounding {:x1 174.04453897476196,
                                     :y1 334.15354919433594,
                                     :x2 652.4943680763245,
                                     :y2 451.0010223388672,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 174.04453897476196,
                                   :y1 334.15354919433594,
                                   :x2 625.0303177833557,
                                   :y2 347.8466033935547,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 351.3411865234375,
                                   :x2 638.6007523536682,
                                   :y2 365.0342559814453,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 368.54310607910156,
                                   :x2 631.5901322364807,
                                   :y2 382.2361602783203,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 385.7307434082031,
                                   :x2 644.6039872169495,
                                   :y2 399.42381286621094,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 402.91839599609375,
                                   :x2 626.5428910255432,
                                   :y2 416.6114501953125,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 420.1060333251953,
                                   :x2 652.4943680763245,
                                   :y2 433.7991027832031,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 437.3079528808594,
                                   :x2 434.26939249038696,
                                   :y2 451.0010223388672,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 7},
               :content {:text "Drought conditions resulted in a record fall in hydropower generation, which dropped to a five-year low. Under normal conditions, the clean capacity added during 2023 would have been enough to enable a 1.1% fall in fossil generation. However, the shortfall in hydropower was met by an increase in coal generation, which led to a 1% increase in global power sector emissions. 95% of the coal generation rise in 2023 occurred in four countries that were severely affected by droughts: China, India, Viet Nam and Mexico."},
               :properties {:color "green"}}
              {:id #uuid "664ef3c7-8f61-4702-8e43-a99edd79ebe5",
               :page 7,
               :position {:bounding {:x1 174.04453897476196,
                                     :y1 523.2604522705078,
                                     :x2 658.1322464942932,
                                     :y2 691.6851196289062,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 174.04453897476196,
                                   :y1 523.2604522705078,
                                   :x2 642.0329422950745,
                                   :y2 536.9535064697266,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 540.4623565673828,
                                   :x2 626.2375321388245,
                                   :y2 554.1554260253906,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 557.6500091552734,
                                   :x2 652.7268509864807,
                                   :y2 571.3430786132812,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 574.837646484375,
                                   :x2 630.3903031349182,
                                   :y2 588.5307006835938,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 592.03955078125,
                                   :x2 649.6743607521057,
                                   :y2 605.7326354980469,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 609.2272033691406,
                                   :x2 655.441755771637,
                                   :y2 622.9202880859375,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 626.4148559570312,
                                   :x2 658.1322464942932,
                                   :y2 640.10791015625,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 643.6025085449219,
                                   :x2 652.4995560646057,
                                   :y2 657.2955627441406,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 660.8044128417969,
                                   :x2 648.6998734474182,
                                   :y2 674.4974670410156,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 677.9920654296875,
                                   :x2 622.257673740387,
                                   :y2 691.6851196289062,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 7},
               :content {:text "Global electricity demand rose to a record high in 2023, with an increase of 627 TWh which is equivalent to adding the entire demand of Canada (+607 TWh). Nevertheless, the 2023 increase of 2.2% was below the average for recent years, due to a pronounced decrease in demand in OECD countries, notably the US(-1.4%) and the EU (-3.4%). In contrast, the rapid demand growth in China (+6.9%) was equivalent to the total global growth in demand in 2023. More than half of the electricity demand rise in 2023 was from five technologies: electric vehicles (EVs), heat pumps, electrolysers, air conditioning and data centres. The spread of these technologies will accelerate the growth in electricity demand, but overall energy demand will decline as electrification is much more efficient than fossil fuels"},
               :properties {:color "green"}}
              {:id #uuid "664ef553-9688-49cd-8f34-8b710f93c73e",
               :page 7,
               :position {:bounding {:x1 174.04453897476196,
                                     :y1 781.1464538574219,
                                     :x2 654.3793168067932,
                                     :y2 932.3692016601562,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 174.04453897476196,
                                   :y1 781.1464538574219,
                                   :x2 641.9479813575745,
                                   :y2 794.8395080566406,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 798.3341064453125,
                                   :x2 654.3793168067932,
                                   :y2 812.0271606445312,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 815.5360107421875,
                                   :x2 633.9997391700745,
                                   :y2 829.2290954589844,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 832.7236938476562,
                                   :x2 617.2220902442932,
                                   :y2 846.416748046875,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 849.9113159179688,
                                   :x2 644.7824540138245,
                                   :y2 863.6043701171875,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 867.0989379882812,
                                   :x2 652.945662021637,
                                   :y2 880.7919921875,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 884.3008422851562,
                                   :x2 627.957136631012,
                                   :y2 897.9939575195312,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 901.488525390625,
                                   :x2 637.0737748146057,
                                   :y2 915.1815795898438,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 174.04453897476196,
                                   :y1 918.6761474609375,
                                   :x2 562.7256302833557,
                                   :y2 932.3692016601562,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 7},
               :content {:text "Ember forecasts fossil generation to fall slightly in 2024, leading to larger falls in subsequent years. Demand growth in 2024 is expected to be higher than in 2023(+968 TWh) but clean generation growth is forecast to be even greater (+1300 TWh), leading to a 2% fall in global fossil generation (-333 TWh). Already the rollout of clean generation, led by solar and wind, has helped to slow the growth in fossil fuels by almost two-thirds in the last ten years. As a result, half the world’s economies are already at least five years past a peak in electricity generation from fossil fuels. OECD countries are at the forefront of this, with power sector emissions collectively peaking in 2007 and falling 28% since then."},
               :properties {:color "green"}}
              {:id #uuid "664efbba-3d60-44d2-b77b-028e5217f351",
               :page 15,
               :position {:bounding {:x1 69.60640716552734,
                                     :y1 694.1812477111816,
                                     :x2 658.2116088867188,
                                     :y2 760.3644142150879,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 69.60640716552734,
                                   :y1 694.1812477111816,
                                   :x2 658.2116088867188,
                                   :y2 710.6128883361816,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 69.60640716552734,
                                   :y1 711.3688697814941,
                                   :x2 655.0840454101562,
                                   :y2 725.9748268127441,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 69.60640716552734,
                                   :y1 728.5565528869629,
                                   :x2 649.0558700561523,
                                   :y2 743.1625099182129,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 69.60640716552734,
                                   :y1 745.7584571838379,
                                   :x2 381.0608444213867,
                                   :y2 760.3644142150879,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 15},
               :content {:text "In 2023, global electricity demand increased by 627 TWh (+2.2%), the equivalent of adding the entire electricity demand of Canada (607 TWh). This brought total global demand to a new record high of 29,471 TWh. Nevertheless, 2023’s growth rate was lower than the 2.5% average growth of the past decade (2012-2022)"},
               :properties {:color "green"}}
              {:id #uuid "664efebf-bf98-4ae4-bfc4-663a1be135bb",
               :page 41,
               :position {:bounding {:x1 62,
                                     :y1 280.1484375,
                                     :x2 662,
                                     :y2 637.1484375,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1716453053092},
               :properties {:color "yellow"}}
              {:id #uuid "664eff8f-581e-46c3-bc30-af390fe48e89",
               :page 45,
               :position {:bounding {:x1 77.51483535766602,
                                     :y1 248.87109375,
                                     :x2 768.514835357666,
                                     :y2 682.87109375,
                                     :width 873.0714666666667,
                                     :height 1234.7720000000002},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1716453260898},
               :properties {:color "yellow"}}
              {:id #uuid "664f065c-3bdc-48db-ae6f-c81793876b3a",
               :page 8,
               :position {:bounding {:x1 69.60640716552734,
                                     :y1 213.8114776611328,
                                     :x2 659.6332397460938,
                                     :y2 279.0817413330078,
                                     :width 731.0000000000001,
                                     :height 1033.8424361136686},
                          :rects ({:x1 69.60640716552734,
                                   :y1 213.8114776611328,
                                   :x2 647.8891830444336,
                                   :y2 227.50453186035156,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 69.60640716552734,
                                   :y1 230.99913024902344,
                                   :x2 643.6280136108398,
                                   :y2 244.6921844482422,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 69.60640716552734,
                                   :y1 248.18678283691406,
                                   :x2 659.6332397460938,
                                   :y2 261.8798370361328,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}
                                  {:x1 69.60640716552734,
                                   :y1 265.38868713378906,
                                   :x2 371.0276412963867,
                                   :y2 279.0817413330078,
                                   :width 731.0000000000001,
                                   :height 1033.8424361136686}),
                          :page 8},
               :content {:text "For the goal of achieving international climate change targets, this is critical, with multiple analyses finding that the power sector should be the first to decarbonise – by 2035 in OECD countries, by2045 in the rest of the world. The sector is currently the highest emitting of all, producing more than a third of energy-related carbon dioxide emissions."},
               :properties {:color "green"}}],
 :extra {:page 8}}
