{:highlights [{:id #uuid "67f4dfb9-4409-4047-9b63-350b6d962fc0",
               :page 1,
               :position {:bounding {:x1 53.464757297188044,
                                     :y1 327.62317657470703,
                                     :x2 295.4430097080767,
                                     :y2 368.773681640625,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 53.464757297188044,
                                   :y1 327.62317657470703,
                                   :x2 294.42463812604547,
                                   :y2 335.9911575317383,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.464757297188044,
                                   :y1 338.5467224121094,
                                   :x2 295.43095526471734,
                                   :y2 346.9147033691406,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.464757297188044,
                                   :y1 349.4702606201172,
                                   :x2 295.4430097080767,
                                   :y2 357.8382568359375,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.464757297188044,
                                   :y1 360.40570068359375,
                                   :x2 198.49917731061578,
                                   :y2 368.773681640625,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 1},
               :content {:text "We are on the brink of an irreversible climate disaster. This is a global emergency beyond any doubt. Much of the very fabric of life on Earth is imperiled. We are stepping into a critical and unpredictable new phase of the climate crisis."},
               :properties {:color "green"}}
              {:id #uuid "67f4e0f3-3fac-4bc1-80d9-f1537882c217",
               :page 1,
               :position {:bounding {:x1 313.00297674909234,
                                     :y1 523.212890625,
                                     :x2 554.945512149483,
                                     :y2 553.4517364501953,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 313.00297674909234,
                                   :y1 523.212890625,
                                   :x2 554.8799603916705,
                                   :y2 531.5808715820312,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 534.1483154296875,
                                   :x2 554.945512149483,
                                   :y2 542.5163116455078,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 545.0837554931641,
                                   :x2 462.4261640049517,
                                   :y2 553.4517364501953,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 1},
               :content {:text "Both global and North Atlantic sea surface temperatures were far above their 1991–2024 averages for much of the year—a pattern that has continued well into 2024 "},
               :properties {:color "green"}}
              {:id #uuid "67f4e13e-25f1-4980-a971-32d902f57691",
               :page 2,
               :position {:bounding {:x1 37,
                                     :y1 52.57568359375,
                                     :x2 562,
                                     :y2 214.57568359375,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1744101692799},
               :properties {:color "yellow"}}
              {:id #uuid "67f4f722-cff5-41c7-bdbf-9bdbd5c983f3",
               :page 3,
               :position {:bounding {:x1 53.464757297188044,
                                     :y1 652.7026977539062,
                                     :x2 295.71846136823297,
                                     :y2 704.7886352539062,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 53.464757297188044,
                                   :y1 652.7026977539062,
                                   :x2 295.3972333408892,
                                   :y2 661.0706787109375,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.464757297188044,
                                   :y1 663.6381225585938,
                                   :x2 295.4387067295611,
                                   :y2 672.006103515625,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.464757297188044,
                                   :y1 674.5735473632812,
                                   :x2 295.71846136823297,
                                   :y2 682.9415283203125,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.464757297188044,
                                   :y1 685.4851989746094,
                                   :x2 295.4592145420611,
                                   :y2 693.8531799316406,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.464757297188044,
                                   :y1 696.420654296875,
                                   :x2 95.50673804059625,
                                   :y2 704.7886352539062,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 3},
               :content {:text "Global tree cover loss rose from 22.8 megahectares (Mha) per year in 2022 to 28.3 Mha per year in 2023, reaching its third-highest level (figure 2f); this was at least partly because of wildfires, which caused tree cover loss to reach a record high of 11.9 Mha(figure 3n). "},
               :properties {:color "green"}}
              {:id #uuid "67f4f737-3fb5-4241-adb3-300c027976e7",
               :page 3,
               :position {:bounding {:x1 313.00297674909234,
                                     :y1 607.4513702392578,
                                     :x2 554.9307416416705,
                                     :y2 626.7428894042969,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 362.8423932529986,
                                   :y1 607.4513702392578,
                                   :x2 554.9307416416705,
                                   :y2 615.8193511962891,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 618.3749084472656,
                                   :x2 507.9514020420611,
                                   :y2 626.7428894042969,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 3},
               :content {:text "This type of climate carbon feedback process could limit the success of some natural climate solutions. I"},
               :properties {:color "green"}}
              {:id #uuid "67f4f745-65c6-407e-a53a-aa24b0c8a56e",
               :page 3,
               :position {:bounding {:x1 313.00297674909234,
                                     :y1 618.3749084472656,
                                     :x2 554.950150821358,
                                     :y2 648.6018676757812,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 514.3932050205767,
                                   :y1 618.3749084472656,
                                   :x2 554.950150821358,
                                   :y2 626.7428894042969,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 629.3103637695312,
                                   :x2 554.9492963291705,
                                   :y2 637.6783447265625,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 640.23388671875,
                                   :x2 396.8611005283892,
                                   :y2 648.6018676757812,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 3},
               :content {:text "2023, there was also a dramatic decline in the land carbon sink according to Ke and colleagues "},
               :properties {:color "green"}}
              {:id #uuid "67f4f789-4aab-4435-8496-c9ea939f0c0a",
               :page 4,
               :position {:bounding {:x1 53.357777927070856,
                                     :y1 647.9481658935547,
                                     :x2 295.2426923252642,
                                     :y2 678.1751251220703,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 53.357777927070856,
                                   :y1 647.9481658935547,
                                   :x2 295.23759588971734,
                                   :y2 656.3161468505859,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 658.8717041015625,
                                   :x2 295.2426923252642,
                                   :y2 667.2396850585938,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 669.8071441650391,
                                   :x2 110.96663031354547,
                                   :y2 678.1751251220703,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 4},
               :content {:text "Annual energy-related emissions increased 2.1% in 2023, and are now above 40 gigatons of carbon-dioxide-equivalent for the first time (figure 2k)"},
               :properties {:color "green"}}
              {:id #uuid "67f4f7be-590d-40f0-8c02-09b2007a84b9",
               :page 4,
               :position {:bounding {:x1 312.8960126377642,
                                     :y1 634.1718902587891,
                                     :x2 555.104691836983,
                                     :y2 686.2459411621094,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 527.052201602608,
                                   :y1 634.1718902587891,
                                   :x2 554.8870404697955,
                                   :y2 642.5398712158203,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 312.8960126377642,
                                   :y1 645.1073303222656,
                                   :x2 555.104691836983,
                                   :y2 653.4753112792969,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 312.8960126377642,
                                   :y1 656.0308685302734,
                                   :x2 554.8101972080767,
                                   :y2 664.3988494873047,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 312.8960126377642,
                                   :y1 666.96630859375,
                                   :x2 554.8300946690142,
                                   :y2 675.3342895507812,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 312.8960126377642,
                                   :y1 677.8779602050781,
                                   :x2 465.9011395908892,
                                   :y2 686.2459411621094,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 4},
               :content {:text "Carbon dioxide levels were recently observed to be surging (NOAA 2024). Furthermore, the growth rate of methane emissions has been accelerating, which is very troubling (Shindell et al. 2024). Nitrous oxide is also at a record high (figure 3c)"},
               :properties {:color "green"}}
              {:id #uuid "67f4f80f-c79c-4162-bc3b-4ed5daff0af0",
               :page 5,
               :position {:bounding {:x1 313.00297674909234,
                                     :y1 654.6163940429688,
                                     :x2 555.0059979893267,
                                     :y2 706.7023315429688,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 313.00297674909234,
                                   :y1 654.6163940429688,
                                   :x2 554.9171308018267,
                                   :y2 662.984375,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 665.5399322509766,
                                   :x2 555.0059979893267,
                                   :y2 673.9079132080078,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 676.4753723144531,
                                   :x2 554.9394696690142,
                                   :y2 684.8433532714844,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 687.4107971191406,
                                   :x2 554.9381268955767,
                                   :y2 695.7787933349609,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 313.00297674909234,
                                   :y1 698.3343505859375,
                                   :x2 361.5111249424517,
                                   :y2 706.7023315429688,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 5},
               :content {:text "Ocean acidity and ocean heat content are both at record extremes(figure 3f, 3g), which has led to various ocean-related climate impacts. For example, heat waves in 2021 and 2023 caused marine animal mass mortality events (White et al. 2023, Goreau and Hayes 2024). "},
               :properties {:color "green"}}
              {:id #uuid "67f4f84b-539a-4fc1-ae68-61235324105c",
               :page 6,
               :position {:bounding {:x1 53.357777927070856,
                                     :y1 153.22681045532227,
                                     :x2 295.2907575108111,
                                     :y2 183.46565628051758,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 190.33595404401422,
                                   :y1 153.22681045532227,
                                   :x2 295.2907575108111,
                                   :y2 161.59479141235352,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 164.16223526000977,
                                   :x2 295.23982367292047,
                                   :y2 172.53021621704102,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 175.09767532348633,
                                   :x2 99.96411261335015,
                                   :y2 183.46565628051758,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 6},
               :content {:text " Increasing heat and rainfall extremes are now far outside the historical climate (Robinson et al. 2021). "},
               :properties {:color "green"}}
              {:id #uuid "67f501a4-269d-4208-8564-82aa10e0fa9b",
               :page 6,
               :position {:bounding {:x1 53.357777927070856,
                                     :y1 339.01029205322266,
                                     :x2 295.3496259190142,
                                     :y2 391.09622955322266,
                                     :width 608,
                                     :height 786.8235294117648},
                          :rects ({:x1 160.2040875889361,
                                   :y1 339.01029205322266,
                                   :x2 295.3496259190142,
                                   :y2 347.3782730102539,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 349.93384552001953,
                                   :x2 295.22123846784234,
                                   :y2 358.3018264770508,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 360.86927032470703,
                                   :x2 295.22493109479547,
                                   :y2 369.2372512817383,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 371.80469512939453,
                                   :x2 295.2808698154986,
                                   :y2 380.1726760864258,
                                   :width 608,
                                   :height 786.8235294117648}
                                  {:x1 53.357777927070856,
                                   :y1 382.7282485961914,
                                   :x2 207.06042608991265,
                                   :y2 391.09622955322266,
                                   :width 608,
                                   :height 786.8235294117648}),
                          :page 6},
               :content {:text "Because the Earth system is strongly nonlinear, extreme weather and disaster rates can increase dramatically in response to global warming, including impacts on plant and animal life (figure 3m, 3o and supplemental figures S4 and S5; Calvin 2019, Robinson et al. 2021)"},
               :properties {:color "green"}}],
 :extra {:page 6}}
