{:highlights [{:id #uuid "66c6016e-9a77-4979-a3fa-85d18818c17d",
               :page 3,
               :position {:bounding {:x1 80.96974310651422,
                                     :y1 121.87064361572266,
                                     :x2 521.1900647617877,
                                     :y2 178.65167999267578,
                                     :width 608,
                                     :height 859.8524491030034},
                          :rects ({:x1 366.5644696690142,
                                   :y1 121.87064361572266,
                                   :x2 521.1861127354205,
                                   :y2 134.0422592163086,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540289655328,
                                   :y1 136.70479583740234,
                                   :x2 520.2908032871783,
                                   :y2 148.87641143798828,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.9816297031939,
                                   :y1 151.52706146240234,
                                   :x2 521.1900647617877,
                                   :y2 163.69867706298828,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.96974310651422,
                                   :y1 166.4800796508789,
                                   :x2 150.86222967877984,
                                   :y2 178.65167999267578,
                                   :width 608,
                                   :height 859.8524491030034}),
                          :page 3},
               :content {:text "However, the plan recognises that even in the ‘with additional measures’ scenario, the GHG emissions reduction will be 9 percentage points lower (27% instead of 36%), and envisages further measures to address the remaining gap."},
               :properties {:color "green"}}
              {:id #uuid "66c60193-c984-4e02-8c61-1babeee17943",
               :page 4,
               :position {:bounding {:x1 81.00540816783905,
                                     :y1 52.26424026489258,
                                     :x2 521.2482823133469,
                                     :y2 94.09226608276367,
                                     :width 608,
                                     :height 859.8524491030034},
                          :rects ({:x1 81.00540816783905,
                                   :y1 52.26424026489258,
                                   :x2 520.5889729261398,
                                   :y2 64.43584823608398,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.01729476451874,
                                   :y1 67.08650588989258,
                                   :x2 521.2482823133469,
                                   :y2 79.25811386108398,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.01729476451874,
                                   :y1 81.92065811157227,
                                   :x2 498.0136021375656,
                                   :y2 94.09226608276367,
                                   :width 608,
                                   :height 859.8524491030034}),
                          :page 4},
               :content {:text "The final plan does not provide a list of energy subsidies. However, Austria is continously updating a corresponding sector-based list of incentives and support measures (for the ETS and non-ETS areas) that are deemed counterproductive to achieving energy and climate targets."},
               :properties {:color "green"}}
              {:id #uuid "66c601a9-459e-44dc-8962-2cc95306ab32",
               :page 4,
               :position {:bounding {:x1 81.02917671203613,
                                     :y1 111.69593620300293,
                                     :x2 520.6527423858643,
                                     :y2 138.70170402526855,
                                     :width 608,
                                     :height 859.8524491030034},
                          :rects ({:x1 270.64151191711426,
                                   :y1 111.69593620300293,
                                   :x2 520.6527423858643,
                                   :y2 123.86754417419434,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.02917671203613,
                                   :y1 126.53008842468262,
                                   :x2 384.84793281555176,
                                   :y2 138.70170402526855,
                                   :width 608,
                                   :height 859.8524491030034}),
                          :page 4},
               :content {:text "Actions that have both been undertaken and planned to phase out fossil fuel subsidies are not included in the final plan"},
               :properties {:color "green"}}
              {:id #uuid "66c601f0-5a4f-411e-b1c7-e070748cd2e2",
               :page 7,
               :position {:bounding {:x1 81.04106032848358,
                                     :y1 176.65476989746094,
                                     :x2 521.2892903089523,
                                     :y2 203.64866638183594,
                                     :width 608,
                                     :height 859.8524491030034},
                          :rects ({:x1 81.04106032848358,
                                   :y1 176.65476989746094,
                                   :x2 521.2892903089523,
                                   :y2 188.82640075683594,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.04106032848358,
                                   :y1 191.47703552246094,
                                   :x2 487.52793776988983,
                                   :y2 203.64866638183594,
                                   :width 608,
                                   :height 859.8524491030034}),
                          :page 7},
               :content {:text "Austria received a recommendation to list the actions taken and its plans to phase-out energy subsidies, in particular for fossil fuels. This recommendation was partially addressed. "},
               :properties {:color "green"}}
              {:id #uuid "66c6022f-5ac5-4f92-8433-58f6903fdef7",
               :page 9,
               :position {:bounding {:x1 81.00540161132812,
                                     :y1 52.26423645019531,
                                     :x2 521.1896667480469,
                                     :y2 153.52395629882812,
                                     :width 608,
                                     :height 859.8524491030034},
                          :rects ({:x1 81.00540161132812,
                                   :y1 52.26423645019531,
                                   :x2 520.9432067871094,
                                   :y2 64.43584442138672,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540161132812,
                                   :y1 67.08650207519531,
                                   :x2 520.9884338378906,
                                   :y2 79.25811767578125,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540161132812,
                                   :y1 81.920654296875,
                                   :x2 521.1272583007812,
                                   :y2 94.09226989746094,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540161132812,
                                   :y1 96.87367248535156,
                                   :x2 520.6939697265625,
                                   :y2 109.0452880859375,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540161132812,
                                   :y1 111.69593811035156,
                                   :x2 521.1896667480469,
                                   :y2 123.8675537109375,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540161132812,
                                   :y1 126.53009033203125,
                                   :x2 521.0994873046875,
                                   :y2 138.70169067382812,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540161132812,
                                   :y1 141.35235595703125,
                                   :x2 297.1626281738281,
                                   :y2 153.52395629882812,
                                   :width 608,
                                   :height 859.8524491030034}),
                          :page 9},
               :content {:text "With existing measures, the NECP projects that emissions in effort sharing sectors will fall by16%, missing the 2030 target within effort sharing sectors by 20 percentage points. With the measures contained in the plan, this gap in 2030 would reduce to 9 percentage points, or 5.2 Mt CO2eq. In general, the NECP assumes that the gap of 5.2 Mt CO2eq until 2030 could be filled by a reduction of 2 Mt CO2eq due to a phase-out of fossil-fuel subsidies and other counterproductive incentives, and by a further reduction of 3.2 Mt CO2eq through an extension of the ETS to other sectors and/or a tax reform. "},
               :properties {:color "green"}}
              {:id #uuid "66c60266-03fe-4a4c-bfd6-f295cf7ef769",
               :page 9,
               :position {:bounding {:x1 80.99352073669434,
                                     :y1 272.4824447631836,
                                     :x2 521.2847194671631,
                                     :y2 329.27537536621094,
                                     :width 608,
                                     :height 859.8524491030034},
                          :rects ({:x1 81.00540733337402,
                                   :y1 272.4824447631836,
                                   :x2 521.2537593841553,
                                   :y2 284.65406036376953,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.99352073669434,
                                   :y1 287.3166046142578,
                                   :x2 521.2847194671631,
                                   :y2 299.4882049560547,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.99352073669434,
                                   :y1 302.281494140625,
                                   :x2 521.1881008148193,
                                   :y2 314.45310974121094,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 81.00540733337402,
                                   :y1 317.103759765625,
                                   :x2 261.17320823669434,
                                   :y2 329.27537536621094,
                                   :width 608,
                                   :height 859.8524491030034}),
                          :page 9},
               :content {:text "Austria refers to the need to achieve the national LULUCF commitment under the LULUCF Regulation12 but does not indicate whether it expects to generate LULUCF credits (i.e. accounted removals in excess of accounted emissions) and use them to achieve the effort sharing target(potentially up to 2.5 Mt over 10 years)."},
               :properties {:color "green"}}
              {:id #uuid "66c602b1-7647-4c10-97cd-e139eabf4f13",
               :page 16,
               :position {:bounding {:x1 80.9935188293457,
                                     :y1 416.7469482421875,
                                     :x2 521.2199287414551,
                                     :y2 503.1844177246094,
                                     :width 608,
                                     :height 859.8524491030034},
                          :rects ({:x1 81.00540542602539,
                                   :y1 416.7469482421875,
                                   :x2 521.182975769043,
                                   :y2 428.91856384277344,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.9935188293457,
                                   :y1 431.5692138671875,
                                   :x2 521.1752815246582,
                                   :y2 443.7408142089844,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.9935188293457,
                                   :y1 446.5222473144531,
                                   :x2 520.2754707336426,
                                   :y2 458.69384765625,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.9935188293457,
                                   :y1 461.35638427734375,
                                   :x2 521.2199287414551,
                                   :y2 473.5279846191406,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.9935188293457,
                                   :y1 476.17864990234375,
                                   :x2 520.1930732727051,
                                   :y2 488.3502502441406,
                                   :width 608,
                                   :height 859.8524491030034}
                                  {:x1 80.9935188293457,
                                   :y1 491.0127868652344,
                                   :x2 305.7848701477051,
                                   :y2 503.1844177246094,
                                   :width 608,
                                   :height 859.8524491030034}),
                          :page 16},
               :content {:text "The NECP sets a 2030 target for non-ETS greenhouse gas emission reductions of -36% compared to 2005, in line with the Effort Sharing Regulation. However, the plan recognises that even in the ‘with additional measures’ scenario, the GHG emissions reduction will be 9 percentage points lower (27% instead of 36%), and envisages further measures to address the remaining gap. These possible further measures include a ‘decarbonisation’ of the tax system and/or extending emissions trading to new sectors"},
               :properties {:color "green"}}],
 :extra {:page 19}}
