{:highlights [{:id #uuid "66c74a1c-078d-4c83-8905-8264b251fd0b",
               :page 6,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 628.0504150390625,
                                     :x2 533.2769788242877,
                                     :y2 668.0122985839844,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451788678765,
                                   :y1 628.0504150390625,
                                   :x2 523.5286267735064,
                                   :y2 639.4613037109375,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 642.2427062988281,
                                   :x2 533.2769788242877,
                                   :y2 653.6535949707031,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 656.6014099121094,
                                   :x2 433.923798892647,
                                   :y2 668.0122985839844,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 6},
               :content {:text "Im Szenario Transition sinkt der Endenergieverbrauch (EEV) bis 2040 um rund30 % bezogen auf 2020, vor allem durch Einsparungen in den Sektoren Verkehr, Haushalte und Industrie (siehe Tabelle A und Abbildung A)"},
               :properties {:color "green"}}
              {:id #uuid "66c74a37-4271-487e-b6e9-1b59dc2c48c6",
               :page 6,
               :position {:bounding {:x1 173.82583746686578,
                                     :y1 694.3524475097656,
                                     :x2 534.589082095772,
                                     :y2 777.319091796875,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 332.7176679112017,
                                   :y1 694.3524475097656,
                                   :x2 523.3330853916705,
                                   :y2 705.7633361816406,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 708.7230224609375,
                                   :x2 534.589082095772,
                                   :y2 720.1339111328125,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 722.9985198974609,
                                   :x2 526.9722608067095,
                                   :y2 734.4094085693359,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 737.2740173339844,
                                   :x2 519.2747510410845,
                                   :y2 748.6849060058594,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 751.5495147705078,
                                   :x2 521.5683911778033,
                                   :y2 762.9603881835938,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 765.908203125,
                                   :x2 398.7286542393267,
                                   :y2 777.319091796875,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 6},
               :content {:text "m Verkehr führen vor allem die Elektrifizierung des Personenverkehrs, ein insgesamt geringeres Verkehrsaufkommen und der Ausbau der öffentlichen Verkehrsmittel zu Energieeinsparungen von -58 % bis 2040. Im Sektor Gebäude, der Haushalte und Dienstleistungen inkludiert, werden Einsparungen von 22 % bis 2040, vor allem durch höhere Energieeffizienzstandards und Gebäudesanierungen, erzielt."},
               :properties {:color "green"}}
              {:id #uuid "66c74a79-a6a5-4dec-a78d-d044f8c063e6",
               :page 8,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 644.1326293945312,
                                     :x2 533.8880017735064,
                                     :y2 684.0945129394531,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 239.4315808750689,
                                   :y1 644.1326293945312,
                                   :x2 520.1666272617877,
                                   :y2 655.5435180664062,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 658.4913330078125,
                                   :x2 533.8880017735064,
                                   :y2 669.9022216796875,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 672.6836242675781,
                                   :x2 242.30314764752984,
                                   :y2 684.0945129394531,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 8},
               :content {:text " Im Szenario Transition wird mit einer Treibhausgas-Reduktion um 57 % außerhalb des Emissionshandels im Jahr 2030 der EU-Zielwert deutlich unterschritten. "},
               :properties {:color "green"}}
              {:id #uuid "66c74a92-2a4b-4a7d-8976-5ffb52511d50",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 96.14862060546875,
                                     :x2 607.9981689453125,
                                     :y2 1729.9260559082031,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 96.30312475934625,
                                   :y1 96.14862060546875,
                                   :x2 159.20121893659234,
                                   :y2 106.79876708984375,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 115.21428808942437,
                                   :y1 110.42410278320312,
                                   :x2 159.38583502545953,
                                   :y2 121.07427978515625,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 63.282872531563044,
                                   :y1 234.17279052734375,
                                   :x2 84.15639624372125,
                                   :y2 243.301513671875,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 63.282872531563044,
                                   :y1 262.98529052734375,
                                   :x2 84.15639624372125,
                                   :y2 272.1139831542969,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 63.282872531563044,
                                   :y1 291.7977600097656,
                                   :x2 84.15639624372125,
                                   :y2 300.9264678955078,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 63.282872531563044,
                                   :y1 320.59837341308594,
                                   :x2 84.15639624372125,
                                   :y2 329.7270812988281,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 70.09374365583062,
                                   :y1 349.4940643310547,
                                   :x2 84.11143622174859,
                                   :y2 358.6227722167969,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 70.09374365583062,
                                   :y1 378.3065490722656,
                                   :x2 84.11143622174859,
                                   :y2 387.4352569580078,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 70.09374365583062,
                                   :y1 407.11903381347656,
                                   :x2 84.11143622174859,
                                   :y2 416.24774169921875,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 70.09374365583062,
                                   :y1 435.9196319580078,
                                   :x2 84.11143622174859,
                                   :y2 445.04833984375,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 79.46018347516656,
                                   :y1 464.73211669921875,
                                   :x2 84.02453741803765,
                                   :y2 473.86083221435547,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 67.47875342145562,
                                   :y1 493.5446090698242,
                                   :x2 84.19813666120172,
                                   :y2 502.6733169555664,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 77.33252844586968,
                                   :y1 514.1792945861816,
                                   :x2 101.2597287632525,
                                   :y2 523.3080024719238,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 113.20549902692437,
                                   :y1 514.1792945861816,
                                   :x2 123.93886694684625,
                                   :y2 523.3080024719238,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 135.94406256452203,
                                   :y1 514.1792945861816,
                                   :x2 152.69192633405328,
                                   :y2 523.3080024719238,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 164.63769659772515,
                                   :y1 514.1792945861816,
                                   :x2 276.3574079014361,
                                   :y2 523.3080024719238,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 288.30317816510797,
                                   :y1 514.1792945861816,
                                   :x2 312.2898114658892,
                                   :y2 523.3080024719238,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 324.2355817295611,
                                   :y1 514.1792945861816,
                                   :x2 436.26432928815484,
                                   :y2 523.3080024719238,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 448.2695172764361,
                                   :y1 514.1792945861816,
                                   :x2 529.2911542393267,
                                   :y2 523.3080024719238,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 89.55168280377984,
                                   :y1 602.4947967529297,
                                   :x2 159.21028265729547,
                                   :y2 613.1449584960938,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 424.84660467877984,
                                   :y1 724.7933502197266,
                                   :x2 521.8511517979205,
                                   :y2 736.2042236328125,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 739.0688323974609,
                                   :x2 499.47851691022515,
                                   :y2 750.4797210693359,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 753.4394226074219,
                                   :x2 532.1222089268267,
                                   :y2 764.8503112792969,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 268.2390302158892,
                                   :y1 758.8239288330078,
                                   :x2 273.48091254010797,
                                   :y2 764.9572906494141,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 767.6198272705078,
                                   :x2 523.5130017735064,
                                   :y2 779.0307159423828,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 0,
                                   :y1 869.9612121582031,
                                   :x2 607.9981689453125,
                                   :y2 1729.9260559082031,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 8},
               :content {:text "Das nationale Ziel der Klimaneutralität 2040 kann aufgrund der verbleibenden Emissionen von11,0 Mio. Tonnen CO 2 -äq in den Bereichen Landwirtschaft, Abfallindustrie, Fluorierte Gase (F-Gase) und industrielle Energie- bzw. Prozessemissionen nur mit-20002004006008001.0001.2001.4001.600 Kohle Öl Gas Erneuerbare (inkl. Biomasse) Abfall Nettostromimporte/-exporte Wasserstoff + e-Fuels Bruttoinlandsverbrauch THG-Emissionen"},
               :properties {:color "green"}}
              {:id #uuid "66c74a99-e47b-40ae-8f0a-25693785a428",
               :page 9,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 90.22921752929688,
                                     :x2 530.3010877110064,
                                     :y2 130.19107055664062,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451788678765,
                                   :y1 90.22921752929688,
                                   :x2 527.0465100742877,
                                   :y2 101.64007568359375,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 104.42147827148438,
                                   :x2 530.3010877110064,
                                   :y2 115.83236694335938,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 118.78018188476562,
                                   :x2 322.5479901768267,
                                   :y2 130.19107055664062,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 9},
               :content {:text "zusätzlichen Maßnahmen zur Erhöhung der Senkenleistung bzw. mit Kompensationsmaßnahmen erfüllt werden (siehe Abbildung C). Dies gilt ebenso für das EU-Ziel der Klimaneutralität 2050"},
               :properties {:color "green"}}
              {:id #uuid "66c74ad4-c40a-4ed8-91aa-8e1caff08340",
               :page 10,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 90.22920227050781,
                                     :x2 530.4691174961627,
                                     :y2 130.1910858154297,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 459.76338324323297,
                                   :y1 90.22920227050781,
                                   :x2 523.6987470127642,
                                   :y2 101.64009094238281,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 104.42149353027344,
                                   :x2 530.4691174961627,
                                   :y2 115.83238220214844,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 118.78019714355469,
                                   :x2 357.6825116612017,
                                   :y2 130.1910858154297,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 10},
               :content {:text "Verglichen mit2020 wird im Jahr 2040 die vierfache Strommenge aus Windkraft und die zwanzigfache Menge aus Photovoltaik erzeugt"},
               :properties {:color "green"}}
              {:id #uuid "66c74b12-18bf-45fe-9fb4-ac7d32b1f9db",
               :page 12,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 466.6339111328125,
                                     :x2 532.9055188633502,
                                     :y2 563.8760681152344,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451788678765,
                                   :y1 466.6339111328125,
                                   :x2 517.596635196358,
                                   :y2 478.0447998046875,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 481.0045166015625,
                                   :x2 532.9055188633502,
                                   :y2 492.4153747558594,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 495.1849060058594,
                                   :x2 526.0169690586627,
                                   :y2 506.5957946777344,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 509.55548095703125,
                                   :x2 527.0239881016314,
                                   :y2 520.9663696289062,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 523.9141845703125,
                                   :x2 532.1787122227252,
                                   :y2 535.3250732421875,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 538.1064758300781,
                                   :x2 520.6161206699908,
                                   :y2 549.5173645019531,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 552.4651794433594,
                                   :x2 475.5453198887408,
                                   :y2 563.8760681152344,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 12},
               :content {:text "Die über das Szenario WEM hinausgehenden Investitionen im Energie-, Gebäude-, Verkehrs- und Industriesektor (Ausbau erneuerbarer Energieträger, Gebäudesanierungen, Heizkesseltausch und Umstieg auf klimaneutrale Mobilität bzw. Produktionsprozesse) stellen bedeutende Impulse für die österreichische Wirtschaft dar. Die zusätzlichen Investitionen wachsen bis in die späten 2030erJahre besonders stark und liegen über den gesamten Zeitraum betrachtet im Szenario Transition durchschnittlich 5,2 % über dem Szenario WEM"},
               :properties {:color "green"}}
              {:id #uuid "66c74b1d-5980-47a5-8dc2-6f2aa5c60d5d",
               :page 12,
               :position {:bounding {:x1 173.82583746686578,
                                     :y1 576.0238952636719,
                                     :x2 524.9334271885455,
                                     :y2 615.9857788085938,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.82583746686578,
                                   :y1 576.0238952636719,
                                   :x2 524.9334271885455,
                                   :y2 587.4347839355469,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 590.2161865234375,
                                   :x2 519.9194653965533,
                                   :y2 601.6270751953125,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 604.5748901367188,
                                   :x2 199.68641791120172,
                                   :y2 615.9857788085938,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 12},
               :content {:text "Die Wertschöpfung im Szenario Transition liegt stets über dem Wert des Szenario WEM. Im Durchschnitt der Periode von 2023 bis 2050 sind es etwa plus1,1 %"},
               :properties {:color "green"}}
              {:id #uuid "66c74b2a-7856-4d2b-9387-9a80a274a3b6",
               :page 12,
               :position {:bounding {:x1 173.82583746686578,
                                     :y1 647.4013671875,
                                     :x2 523.481660220772,
                                     :y2 673.1709594726562,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 231.33134588971734,
                                   :y1 647.4013671875,
                                   :x2 516.5370038487017,
                                   :y2 658.812255859375,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 661.7600708007812,
                                   :x2 523.481660220772,
                                   :y2 673.1709594726562,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 12},
               :content {:text "Im Durchschnitt der Jahre 2023 bis 2050 liegt die Beschäftigung0,9 % (entspricht jährlich 40.000 Vollzeitäquivalenten) über dem WEM-Niveau."},
               :properties {:color "green"}}
              {:id #uuid "66c74b80-058f-4a9f-bc43-e6efc8221d7c",
               :page 23,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 222.92829418182373,
                                     :x2 533.6871350742877,
                                     :y2 277.24888134002686,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451788678765,
                                   :y1 222.92829418182373,
                                   :x2 510.98742804303765,
                                   :y2 234.33918285369873,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 237.28699779510498,
                                   :x2 527.568803165108,
                                   :y2 248.69788646697998,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 272.3160260654986,
                                   :y1 238.11904430389404,
                                   :x2 277.55790838971734,
                                   :y2 244.25239086151123,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 251.4792890548706,
                                   :x2 533.6871350742877,
                                   :y2 262.8901777267456,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 265.83799266815186,
                                   :x2 361.14851507917047,
                                   :y2 277.24888134002686,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 23},
               :content {:text "Auf die Interaktion eines gesamtwirtschaftlichen Input-Output-(IO)-Modells(Hybrid zwischen CGE 2 und ökonometrischem IO-Modell) und Sektor-Modellen zur detaillierten Abbildung von sektoralen Entwicklungen und Maßnahmen wird in diesem Projekt besonderer Wert gelegt"},
               :properties {:color "green"}}],
 :extra {:page 33}}
