{:highlights [{:id #uuid "664b11a7-fdd4-4b07-85a7-27524ebd49d3",
               :page 1,
               :position {:bounding {:x1 352.375,
                                     :y1 407.671875,
                                     :x2 640.0180053710938,
                                     :y2 466.046875,
                                     :width 800,
                                     :height 1074.2848695395078},
                          :rects ({:x1 361.890625,
                                   :y1 407.671875,
                                   :x2 640.0180053710938,
                                   :y2 421.671875,
                                   :width 800,
                                   :height 1074.2848695395078}
                                  {:x1 352.375,
                                   :y1 422.453125,
                                   :x2 640.0162963867188,
                                   :y2 436.453125,
                                   :width 800,
                                   :height 1074.2848695395078}
                                  {:x1 352.375,
                                   :y1 437.25,
                                   :x2 639.9849243164062,
                                   :y2 451.25,
                                   :width 800,
                                   :height 1074.2848695395078}
                                  {:x1 352.375,
                                   :y1 452.046875,
                                   :x2 468.62347412109375,
                                   :y2 466.046875,
                                   :width 800,
                                   :height 1074.2848695395078}),
                          :page 1},
               :content {:text "Heat-related deaths are estimated to have risen across most of Europe, with an average increase of 17·2 deaths per 100 000 inhabitants between the periods of2003–12 and 2013–22 "},
               :properties {:color "green"}}
              {:id #uuid "664b1ce3-2566-4859-a982-52a1638c4af7",
               :page 19,
               :position {:bounding {:x1 44,
                                     :y1 162,
                                     :x2 774,
                                     :y2 549,
                                     :width 800,
                                     :height 1074.2848695395078},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1716198624366},
               :properties {:color "yellow"}}],
 :extra {:page 19}}
