{:highlights [{:id #uuid "6735b448-17c4-41b4-9347-a237f7365325",
               :page 10,
               :position {:bounding {:x1 33,
                                     :y1 113.72119140625,
                                     :x2 588,
                                     :y2 516.72119140625,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1731572798462},
               :properties {:color "yellow"}}
              {:id #uuid "6735b48a-fe22-4782-a333-6d847243a3c8",
               :page 10,
               :position {:bounding {:x1 99.88091406598687,
                                     :y1 686.7808074951172,
                                     :x2 566.0070432163775,
                                     :y2 749.5050354003906,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 99.88091406598687,
                                   :y1 686.7808074951172,
                                   :x2 541.3267377354205,
                                   :y2 700.473876953125,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 183.00209173932672,
                                   :y1 695.0418090820312,
                                   :x2 189.1354382969439,
                                   :y2 703.4097900390625,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 99.88091406598687,
                                   :y1 703.1245269775391,
                                   :x2 566.0070432163775,
                                   :y2 716.8175811767578,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 99.88091406598687,
                                   :y1 719.4682464599609,
                                   :x2 528.3210690952837,
                                   :y2 733.1613159179688,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 99.88091406598687,
                                   :y1 735.8119506835938,
                                   :x2 340.11501440778375,
                                   :y2 749.5050354003906,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 10},
               :content {:text "Around 2 GtCO2 per year of CDR is taking place already. Almost all of this comes from conventional CDR methods – those methods that are well established and widely reported by countries as part of land use, land-use change and forestry (LULUCF) activities – principally through afforestation/reforestation. "},
               :properties {:color "yellow"}}
              {:id #uuid "6735b4bd-34ef-48d8-91b7-bbfa0403e87f",
               :page 11,
               :position {:bounding {:x1 25,
                                     :y1 155.623046875,
                                     :x2 584,
                                     :y2 444.623046875,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1731572923359},
               :properties {:color "yellow"}}
              {:id #uuid "6735b4ff-c354-45ef-b2af-3d35cdd8a24a",
               :page 12,
               :position {:bounding {:x1 128.83603033795953,
                                     :y1 71.46066284179688,
                                     :x2 558.5057080723345,
                                     :y2 121.91818237304688,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 160.1089948154986,
                                   :y1 71.46066284179688,
                                   :x2 544.503861758858,
                                   :y2 85.15373229980469,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603033795953,
                                   :y1 89.83694458007812,
                                   :x2 558.5057080723345,
                                   :y2 103.52999877929688,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603033795953,
                                   :y1 108.22512817382812,
                                   :x2 494.1354077793658,
                                   :y2 121.91818237304688,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 12},
               :content {:text "Startups: Investment in CDR startups has grown significantly over the past decade, outpacing the climate-tech sector as a whole – although it declined in 2023, and CDR accounts for just 1.1% of investment in climate-tech start-ups"},
               :properties {:color "yellow"}}
              {:id #uuid "6735b526-4804-4b77-8489-8c9cd1758c89",
               :page 12,
               :position {:bounding {:x1 128.83603286743164,
                                     :y1 193.34320449829102,
                                     :x2 558.417667388916,
                                     :y2 262.18889236450195,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 248.42505264282227,
                                   :y1 193.34320449829102,
                                   :x2 558.417667388916,
                                   :y2 207.03627395629883,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603286743164,
                                   :y1 211.73137283325195,
                                   :x2 530.4582252502441,
                                   :y2 225.4244270324707,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603286743164,
                                   :y1 230.11952590942383,
                                   :x2 553.2419166564941,
                                   :y2 243.8126106262207,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603286743164,
                                   :y1 248.49580764770508,
                                   :x2 344.7476692199707,
                                   :y2 262.18889236450195,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 12},
               :content {:text "he voluntary carbon market is a nascent but growing source of demand for novel CDR. Conventional CDR from afforestation saw a drop in issuances and retirements in 2023, while purchase agreements grew sevenfold for future delivery of CDR via novel methods."},
               :properties {:color "yellow"}}
              {:id #uuid "6735b547-b1b2-46aa-b129-80a96144f1dc",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 336.0030403137207,
                                     :x2 607.9981689453125,
                                     :y2 1729.7595710754395,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 99.88090896606445,
                                   :y1 336.0030403137207,
                                   :x2 531.0020942687988,
                                   :y2 349.6961250305176,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 99.88090896606445,
                                   :y1 352.3467597961426,
                                   :x2 560.6269721984863,
                                   :y2 366.0398139953613,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 99.88090896606445,
                                   :y1 368.69047927856445,
                                   :x2 404.2492256164551,
                                   :y2 382.3835334777832,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 0,
                                   :y1 869.8779792785645,
                                   :x2 607.9981689453125,
                                   :y2 1729.7595710754395,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 12},
               :content {:text "However, current deployment and national proposals for future implementation are more concentrated on a few conventional methods. In addition, many modelled mitigation scenarios still represent only a limited set of CDR methods."},
               :properties {:color "yellow"}}
              {:id #uuid "6735b57e-6528-4773-8280-3da52ea18287",
               :page 14,
               :position {:bounding {:x1 99.88091406598687,
                                     :y1 265.1961352825165,
                                     :x2 567.3103803135455,
                                     :y2 382.39544558525085,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 99.88091406598687,
                                   :y1 265.1961352825165,
                                   :x2 496.8723081089556,
                                   :y2 278.88918948173523,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603033795953,
                                   :y1 289.3729236125946,
                                   :x2 139.35543951764703,
                                   :y2 303.0660083293915,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 160.1089948154986,
                                   :y1 289.3729236125946,
                                   :x2 532.5455487705767,
                                   :y2 303.0660083293915,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603033795953,
                                   :y1 307.7611072063446,
                                   :x2 529.6006177403033,
                                   :y2 321.45416140556335,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603033795953,
                                   :y1 326.1492602825165,
                                   :x2 287.78755316510797,
                                   :y2 339.84234499931335,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603033795953,
                                   :y1 350.32607913017273,
                                   :x2 139.35543951764703,
                                   :y2 364.0191638469696,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 160.1089948154986,
                                   :y1 350.32607913017273,
                                   :x2 567.3103803135455,
                                   :y2 364.0191638469696,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 128.83603033795953,
                                   :y1 368.702360868454,
                                   :x2 445.9640210606158,
                                   :y2 382.39544558525085,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 14},
               :content {:text "But demand-pull policies, which would create demand for CDR, remain weak:• Countries’ nationally determined contributions and long-term strategies submitted to the UNFCCC contain few mentions of policies that would create considerable demand for CDR.• Monitoring, reporting and verification (MRV), which is important for facilitating transactions in CDR markets, is not fully developed at present"},
               :properties {:color "yellow"}}
              {:id #uuid "6735b5a2-8857-485c-a748-97ed3efca724",
               :page 14,
               :position {:bounding {:x1 99.88091406598687,
                                     :y1 445.64263916015625,
                                     :x2 527.684769961983,
                                     :y2 475.6794128417969,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 489.65217718854547,
                                   :y1 445.64263916015625,
                                   :x2 527.684769961983,
                                   :y2 459.335693359375,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 99.88091406598687,
                                   :y1 461.9863586425781,
                                   :x2 247.49401221051812,
                                   :y2 475.6794128417969,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 14},
               :content {:text "Mission Innovation’s CDR Launchpad,"},
               :properties {:color "yellow"}}],
 :extra {:page 14}}
