{:highlights [{:id #uuid "66c85c5e-27c5-4492-b0a1-8b3719ca92f8",
               :page 7,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 690.3110656738281,
                                     :x2 533.2902844883502,
                                     :y2 730.4512329101562,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451788678765,
                                   :y1 690.3110656738281,
                                   :x2 533.2902844883502,
                                   :y2 701.7219543457031,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 704.681640625,
                                   :x2 515.5604871250689,
                                   :y2 716.092529296875,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 719.0403442382812,
                                   :x2 375.6452496983111,
                                   :y2 730.4512329101562,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 7},
               :content {:text "Im Szenario WAM (with additional measures) wurden – aufbauend auf dem Szenario WEM – Maßnahmen aus den Arbeitsgruppen zum Nationalen Energieund Klimaplan 2023 abgebildet (BMK, 2023a)"},
               :properties {:color "green"}}
              {:id #uuid "66c85cb7-d720-4089-8689-0f4f3033ce0d",
               :page 8,
               :position {:bounding {:x1 173.75451788678765,
                                     :y1 237.2869873046875,
                                     :x2 535.473588321358,
                                     :y2 334.4340515136719,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451788678765,
                                   :y1 237.2869873046875,
                                   :x2 534.256303165108,
                                   :y2 248.6978759765625,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583746686578,
                                   :y1 251.47927856445312,
                                   :x2 522.1091474033892,
                                   :y2 262.8901672363281,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 207.3809674717486,
                                   :y1 256.8638000488281,
                                   :x2 212.5634168125689,
                                   :y2 262.9971618652344,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 383.70292792096734,
                                   :y1 256.8638000488281,
                                   :x2 388.9448102451861,
                                   :y2 262.9971618652344,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 265.8379821777344,
                                   :x2 533.2859509922564,
                                   :y2 277.2488708496094,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 280.11346435546875,
                                   :x2 485.4553845860064,
                                   :y2 291.52435302734375,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 294.38897705078125,
                                   :x2 526.4316571690142,
                                   :y2 305.79986572265625,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 262.6524518467486,
                                   :y1 299.77349853515625,
                                   :x2 267.8230145908892,
                                   :y2 305.9068298339844,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 308.6644592285156,
                                   :x2 535.473588321358,
                                   :y2 320.0753479003906,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 343.2656110264361,
                                   :y1 314.1440734863281,
                                   :x2 348.5074628330767,
                                   :y2 320.27740478515625,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451788678765,
                                   :y1 323.0231628417969,
                                   :x2 357.19331488385797,
                                   :y2 334.4340515136719,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 8},
               :content {:text "Im Szenario WAM liegen die Gesamtemissionen im Jahr 2030 bei 57,8 Mio. Tonnen CO 2 -äq und 2040 bei 38,0 Mio. Tonnen CO 2 -äq. Die Treibhausgasemissionen im Effort-Sharing-Bereich sind im Jahr 2030 um 35 % unter dem Niveau von2005. Das bedeutet: Das -48 %-Reduktionsziel für Österreich wird um7,3 Mio. Tonnen CO 2 -äq verfehlt. Im Jahr 2040 betragen die Emissionen außerhalb des EU-ETS 22,2 Mio. Tonnen CO 2 -äq. Damit ist das Szenario WAM kein Szenario, das Klimaneutralität 2040 abbildet"},
               :properties {:color "green"}}
              {:id #uuid "66c87dbc-04a1-4b5e-bcc6-13fdfb8a42da",
               :page 24,
               :position {:bounding {:x1 72.89891910552979,
                                     :y1 238.55883598327637,
                                     :x2 533.5212984085083,
                                     :y2 628.5377655029297,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 96.05350971221924,
                                   :y1 238.55883598327637,
                                   :x2 159.23698139190674,
                                   :y2 249.20899772644043,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 72.89891910552979,
                                   :y1 290.58534240722656,
                                   :x2 159.0906000137329,
                                   :y2 301.2355041503906,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 98.43077564239502,
                                   :y1 428.5263214111328,
                                   :x2 159.34835529327393,
                                   :y2 439.1764831542969,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583332061768,
                                   :y1 574.2171783447266,
                                   :x2 533.5212984085083,
                                   :y2 585.6280670166016,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583332061768,
                                   :y1 588.4926605224609,
                                   :x2 529.7301607131958,
                                   :y2 599.9035491943359,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.82583332061768,
                                   :y1 602.7681732177734,
                                   :x2 525.4679536819458,
                                   :y2 614.1790618896484,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 617.1268768310547,
                                   :x2 252.81884479522705,
                                   :y2 628.5377655029297,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 24},
               :content {:text "Mit dem Szenario Transition soll aufgezeigt werden, ob bzw. wie das Ziel der Klimaneutralität bis 2040 erreicht werden kann. Klimaneutralität wird als national bilanzielle Netto-Null-Emissionen verstanden (Annahmen und Storylines siehe Anfang Kapitel 5). THG-Szenarien Schlüsselannahmen Szenario WEM"},
               :properties {:color "green"}}
              {:id #uuid "66c87ddd-a95e-454e-a9c1-c8c76b1af9d9",
               :page 26,
               :position {:bounding {:x1 173.75451374053955,
                                     :y1 384.3329162597656,
                                     :x2 533.3467378616333,
                                     :y2 467.299560546875,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451374053955,
                                   :y1 384.3329162597656,
                                   :x2 530.5989351272583,
                                   :y2 395.7438049316406,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 398.7034912109375,
                                   :x2 522.8555574417114,
                                   :y2 410.1143798828125,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 504.9316987991333,
                                   :y1 404.0880126953125,
                                   :x2 510.1141633987427,
                                   :y2 410.2213439941406,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 412.8838806152344,
                                   :x2 526.0670137405396,
                                   :y2 424.2947692871094,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 430.1547517776489,
                                   :y1 418.2803039550781,
                                   :x2 435.3966341018677,
                                   :y2 424.41363525390625,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 427.2544860839844,
                                   :x2 533.3467378616333,
                                   :y2 438.6653747558594,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 279.0674715042114,
                                   :y1 432.63897705078125,
                                   :x2 284.23803424835205,
                                   :y2 438.7723388671875,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 441.52996826171875,
                                   :x2 520.9416780471802,
                                   :y2 452.94085693359375,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 455.888671875,
                                   :x2 379.3427095413208,
                                   :y2 467.299560546875,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 26},
               :content {:text "Das Szenario Transition zeigt einen deutlich verstärkten Emissionsreduktionspfad. Im Jahr 2030 liegen die Gesamtemissionen bei 41,2 Mio. Tonnen CO 2 -äq(-56 % bezogen auf 2005), 2040 bei 11,0 Mio. Tonnen CO 2 -äq (-88 %) und 2050 bei 9,4 Mio. Tonnen CO 2 -äq (-90 %). Im Szenario Transition wird der EU-rechtlich festgelegte Zielwert einer Treibhausgasreduktion von 48 % bezogen auf 2005 mit einem Minus von 57 % deutlich übererfüll"},
               :properties {:color "green"}}
              {:id #uuid "66c87e43-8888-4d93-b237-aba32a56e3eb",
               :page 28,
               :position {:bounding {:x1 173.75451374053955,
                                     :y1 318.4706840515137,
                                     :x2 530.8855562210083,
                                     :y2 430.05964279174805,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 194.36217975616455,
                                   :y1 318.4706840515137,
                                   :x2 510.5153169631958,
                                   :y2 329.8815727233887,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 332.8293876647949,
                                   :x2 518.962643623352,
                                   :y2 344.2402763366699,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 358.34936237335205,
                                   :y1 333.7446403503418,
                                   :x2 363.5912446975708,
                                   :y2 339.87800216674805,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 347.02167892456055,
                                   :x2 523.5306673049927,
                                   :y2 358.43256759643555,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 361.3803825378418,
                                   :x2 522.3782930374146,
                                   :y2 372.7912712097168,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 375.73908615112305,
                                   :x2 526.0545015335083,
                                   :y2 387.14997482299805,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 389.9313774108887,
                                   :x2 530.8855562210083,
                                   :y2 401.3422660827637,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 404.2900810241699,
                                   :x2 519.9514436721802,
                                   :y2 415.7009696960449,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451374053955,
                                   :y1 418.64875411987305,
                                   :x2 382.2123079299927,
                                   :y2 430.05964279174805,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 28},
               :content {:text "Unklar ist derzeit, welche Auswirkungen die Emissionen bzw. Kohlenstoffspeicherungen des Sektors LULUCF 5 auf die Einhaltung des Effort-Sharing-Reduktionsziels haben werden. Die Emissionsbilanz des Sektors LULUCF unterliegt jährlich starken Schwankungen, die auf verschiedene Faktoren, wie z. B. unterschiedliche Witterungsbedingungen, die Änderung von Landnutzungen und den damit verbundenen Kohlenstoffab- oder -aufbau, Schädlinge (z. B. Borkenkäfer) oder Änderungen der Nachfrage nach Rohstoffen, wie Holz, zurückzuführen sind (Umweltbundesamt, 2023c)"},
               :properties {:color "green"}}
              {:id #uuid "66c87f18-7222-44c3-b770-c8bd62a0045f",
               :page 66,
               :position {:bounding {:x1 173.75451278686523,
                                     :y1 129.62053680419922,
                                     :x2 520.7699241638184,
                                     :y2 183.94110870361328,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451278686523,
                                   :y1 129.62053680419922,
                                   :x2 520.7699241638184,
                                   :y2 141.03142547607422,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451278686523,
                                   :y1 143.97924041748047,
                                   :x2 508.5747947692871,
                                   :y2 155.3901138305664,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451278686523,
                                   :y1 158.17151641845703,
                                   :x2 518.9002952575684,
                                   :y2 169.58240509033203,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451278686523,
                                   :y1 172.53022003173828,
                                   :x2 301.50375747680664,
                                   :y2 183.94110870361328,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 66},
               :content {:text "Die Ergebnisse des Szenario WAM wurden aufgrund der Maßnahmenliste für den Entwurf des Nationalen Energie- und Klimaplans (NEKP) (publiziert Juli2023) erhalten. Der Entwurf des NEKP befindet sich aktuell (Oktober 2023) inÜberarbeitung (BMK, 2023a)"},
               :properties {:color "green"}}
              {:id #uuid "66c87f4f-3135-40b4-a866-69eee9f084f0",
               :page 84,
               :position {:bounding {:x1 173.75451278686523,
                                     :y1 172.53021702170372,
                                     :x2 528.1637535095215,
                                     :y2 212.4921005666256,
                                     :width 608,
                                     :height 859.9750050393066},
                          :rects ({:x1 173.75451278686523,
                                   :y1 172.53021702170372,
                                   :x2 525.4833030700684,
                                   :y2 183.94110569357872,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451278686523,
                                   :y1 186.88892063498497,
                                   :x2 528.1637535095215,
                                   :y2 198.29980930685997,
                                   :width 608,
                                   :height 859.9750050393066}
                                  {:x1 173.75451278686523,
                                   :y1 201.0812118947506,
                                   :x2 465.2082176208496,
                                   :y2 212.4921005666256,
                                   :width 608,
                                   :height 859.9750050393066}),
                          :page 84},
               :content {:text "Das Szenario Transition erfordert Investitionen in Energieeinsparung und jene langlebigen Infrastrukturen und zukunftsfähigen Technologien, die parallel mit einem Ausstieg aus der Nutzung fossiler Energieträger erfolgen. "},
               :properties {:color "green"}}],
 :extra {:page 105}}
