{:highlights [{:id #uuid "67f3739a-ea7d-436c-9796-027e681a990b",
               :page 5,
               :position {:bounding {:x1 37,
                                     :y1 506.10888671875,
                                     :x2 569,
                                     :y2 773.10888671875,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1744008084708},
               :properties {:color "yellow"}}
              {:id #uuid "67f375cd-7325-4d78-82db-56057c4d20de",
               :page 5,
               :position {:bounding {:x1 77.09479651227593,
                                     :y1 394.2817687988281,
                                     :x2 530.9004071690142,
                                     :y2 442.4571075439453,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 77.09479651227593,
                                   :y1 394.2817687988281,
                                   :x2 530.8925946690142,
                                   :y2 405.6926574707031,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 457.9331220127642,
                                   :y1 401.16395568847656,
                                   :x2 462.88972601667047,
                                   :y2 408.010498046875,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 406.5365905761719,
                                   :x2 530.9004071690142,
                                   :y2 417.9474792480469,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 399.0600751377642,
                                   :y1 413.4187774658203,
                                   :x2 404.0285809971392,
                                   :y2 420.2653045654297,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 418.7914123535156,
                                   :x2 530.7728360630572,
                                   :y2 430.20228576660156,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 431.0462188720703,
                                   :x2 425.10285315290093,
                                   :y2 442.4571075439453,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 5},
               :content {:text "Between 1 January 2023 and 31 December 2023, the concentration of CO2 increased by2.8 ppm, the fourth largest within-year change since modern CO2 measurements started in the 1950s. The rate of growth is typically higher during El Niño conditions due to an overall increase from fire emissions and reduced net terrestrial carbon sinks "},
               :properties {:color "green"}}
              {:id #uuid "67f38d04-5108-47ed-8624-cc4757257872",
               :page 7,
               :position {:bounding {:x1 56,
                                     :y1 483.76025390625,
                                     :x2 572,
                                     :y2 800.76025390625,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1744014594971},
               :properties {:color "yellow"}}
              {:id #uuid "67f38fba-74c9-4e80-a6b4-9502d8d50cf5",
               :page 7,
               :position {:bounding {:x1 77.09479651227593,
                                     :y1 357.5054512023926,
                                     :x2 531.5832608677447,
                                     :y2 417.9474678039551,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 77.09479651227593,
                                   :y1 357.5054512023926,
                                   :x2 531.5832608677447,
                                   :y2 368.91630935668945,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 369.77214431762695,
                                   :x2 530.7000211216509,
                                   :y2 381.18303298950195,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 382.0269660949707,
                                   :x2 528.4513028599322,
                                   :y2 393.4378547668457,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 394.2817573547363,
                                   :x2 530.6968472935259,
                                   :y2 405.6926460266113,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 406.5365791320801,
                                   :x2 415.4482816196978,
                                   :y2 417.9474678039551,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 7},
               :content {:text "The annually averaged global mean near-surface temperature in 2024 was 1.55 °C ± 0.13 °C above the 1850–1900 average. The year 2024 was the warmest year in the 175-year observational record. The previous warmest year was 2023 with an anomaly of 1.45 °C ± 0.12 °C. Each of the past ten years, 2015–2024, were individually the ten warmest years on record. The analysis is based on a synthesis of six global temperature datasets (Figure 2)"},
               :properties {:color "green"}}
              {:id #uuid "67f391d7-7383-44ec-86c8-f7ee72803746",
               :page 9,
               :position {:bounding {:x1 70,
                                     :y1 499.9755859375,
                                     :x2 550,
                                     :y2 786.9755859375,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1744015830071},
               :properties {:color "yellow"}}
              {:id #uuid "67f3928b-7ae2-487b-b375-deaea8716961",
               :page 9,
               :position {:bounding {:x1 77.09479651227593,
                                     :y1 332.99578857421875,
                                     :x2 530.8988736607134,
                                     :y2 368.9162902832031,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 77.09479651227593,
                                   :y1 332.99578857421875,
                                   :x2 530.8988736607134,
                                   :y2 344.40667724609375,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 345.2506103515625,
                                   :x2 530.6585782505572,
                                   :y2 356.6614990234375,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 357.50543212890625,
                                   :x2 376.29673132672906,
                                   :y2 368.9162902832031,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 9},
               :content {:text "In 2024, observed global ocean heat content set a record, exceeding the previous record set in 2023 by 16 ± 8 ZJ (Figure 3). Over the past eight years, each year has set a new record for ocean heat content. Instrumental records start around 1960."},
               :properties {:color "green"}}
              {:id #uuid "67f3d353-ee66-4b33-8c39-af3309f6e3d7",
               :page 17,
               :position {:bounding {:x1 15,
                                     :y1 503.60937500000006,
                                     :x2 322.404541015625,
                                     :y2 701.6001281738281,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1744032632569},
               :properties {:color "yellow"}}
              {:id #uuid "67f3d394-e522-438b-8782-2cb1734d3082",
               :page 17,
               :position {:bounding {:x1 305,
                                     :y1 502.609375,
                                     :x2 579,
                                     :y2 701.609375,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1744032657947},
               :properties {:color "yellow"}}
              {:id #uuid "67f3eb8d-e33a-40ed-82f3-2bdd427723a4",
               :page 11,
               :position {:bounding {:x1 49,
                                     :y1 458.7119140625,
                                     :x2 546,
                                     :y2 804.7119140625,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1744038789745},
               :properties {:color "yellow"}}
              {:id #uuid "67f3ec1d-779d-4141-9dd8-b812c338c34b",
               :page 11,
               :position {:bounding {:x1 77.09479651227593,
                                     :y1 320.7410011291504,
                                     :x2 534.5989469029009,
                                     :y2 368.9163246154785,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 77.09479651227593,
                                   :y1 320.7410011291504,
                                   :x2 531.8816617466509,
                                   :y2 332.1518898010254,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 332.995792388916,
                                   :x2 534.5989469029009,
                                   :y2 344.406681060791,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 345.25061416625977,
                                   :x2 530.9068082310259,
                                   :y2 356.66150283813477,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 357.5054359436035,
                                   :x2 286.31430945172906,
                                   :y2 368.9163246154785,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 11},
               :content {:text "The long-term rate of sea-level rise (Figure 4) has more than doubled since the start of the satellite record, increasing from 2.1 mm per year between 1993 and 2002 to 4.7 mm per year between 2015 and 2024. In 2024, global mean sea level reached a record high in the satellite record (from 1993 to present)."},
               :properties {:color "green"}}
              {:id #uuid "67f3ef2c-d93f-48ab-90f8-3c3c6175ad9e",
               :page 13,
               :position {:bounding {:x1 45,
                                     :y1 427.302734375,
                                     :x2 556,
                                     :y2 756.302734375,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1744039722084},
               :properties {:color "yellow"}}
              {:id #uuid "67f3ef8a-6cb8-4e13-aad5-0da0a95df561",
               :page 13,
               :position {:bounding {:x1 77.09479651227593,
                                     :y1 296.2313537597656,
                                     :x2 530.5258878208697,
                                     :y2 344.40667724609375,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 77.09479651227593,
                                   :y1 296.2313537597656,
                                   :x2 528.5666593052447,
                                   :y2 307.6422424316406,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 308.4861755371094,
                                   :x2 530.4856656529009,
                                   :y2 319.8970642089844,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 320.7409973144531,
                                   :x2 530.5258878208697,
                                   :y2 332.15185546875,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 332.99578857421875,
                                   :x2 368.0282071568072,
                                   :y2 344.40667724609375,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 13},
               :content {:text "Globally, ocean surface pH has changed at a rate of –0.017 ± 0.001 pH units per decade over the period 1985–2023 (Figure 5). The year 2023 is the latest year for which we have consolidated global figures. The decline in pH is referred to as ocean acidification. The rate of change in pH is consistent with the estimate of the latest IPCC report"},
               :properties {:color "yellow"}}
              {:id #uuid "67f3f00c-5a4f-406f-95aa-9047e253b893",
               :page 15,
               :position {:bounding {:x1 67,
                                     :y1 519.45703125,
                                     :x2 538,
                                     :y2 788.45703125,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1744039946549},
               :properties {:color "yellow"}}
              {:id #uuid "67f3f06e-8424-4dd9-80ca-1ea0d0d9e099",
               :page 15,
               :position {:bounding {:x1 77.09479651227593,
                                     :y1 480.0773620605469,
                                     :x2 530.9306729771197,
                                     :y2 515.9978942871094,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 77.09479651227593,
                                   :y1 480.0773620605469,
                                   :x2 530.6030972935259,
                                   :y2 491.4882507324219,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 492.3321838378906,
                                   :x2 530.9306729771197,
                                   :y2 503.7430725097656,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 504.5870056152344,
                                   :x2 520.2066129185259,
                                   :y2 515.9978942871094,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 15},
               :content {:text "This continues a trend of accelerated glacier mass loss in the 2020s. The last three years(2021/2022–2023/2024) represent the largest negative three-year mass balance on record, and 7 of the 10 largest negative mass balance years since 1950 have occurred since 2016."},
               :properties {:color "green"}}
              {:id #uuid "6822f94a-c25d-4c13-a834-182eeb32644a",
               :page 21,
               :position {:bounding {:x1 57,
                                     :y1 322.349609375,
                                     :x2 554,
                                     :y2 652.349609375,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1747122504531},
               :properties {:color "yellow"}}],
 :extra {:page 21}}
