{:highlights [{:id #uuid "67f3739a-ea7d-436c-9796-027e681a990b",
               :page 5,
               :position {:bounding {:x1 37,
                                     :y1 506.10888671875,
                                     :x2 569,
                                     :y2 773.10888671875,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1744008084708},
               :properties {:color "yellow"}}
              {:id #uuid "67f375cd-7325-4d78-82db-56057c4d20de",
               :page 5,
               :position {:bounding {:x1 77.09479651227593,
                                     :y1 394.2817687988281,
                                     :x2 530.9004071690142,
                                     :y2 442.4571075439453,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects ({:x1 77.09479651227593,
                                   :y1 394.2817687988281,
                                   :x2 530.8925946690142,
                                   :y2 405.6926574707031,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 457.9331220127642,
                                   :y1 401.16395568847656,
                                   :x2 462.88972601667047,
                                   :y2 408.010498046875,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 406.5365905761719,
                                   :x2 530.9004071690142,
                                   :y2 417.9474792480469,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 399.0600751377642,
                                   :y1 413.4187774658203,
                                   :x2 404.0285809971392,
                                   :y2 420.2653045654297,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 418.7914123535156,
                                   :x2 530.7728360630572,
                                   :y2 430.20228576660156,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}
                                  {:x1 77.09479651227593,
                                   :y1 431.0462188720703,
                                   :x2 425.10285315290093,
                                   :y2 442.4571075439453,
                                   :width 608.0000000000001,
                                   :height 859.8853641000143}),
                          :page 5},
               :content {:text "Between 1 January 2023 and 31 December 2023, the concentration of CO2 increased by2.8 ppm, the fourth largest within-year change since modern CO2 measurements started in the 1950s. The rate of growth is typically higher during El Niño conditions due to an overall increase from fire emissions and reduced net terrestrial carbon sinks "},
               :properties {:color "green"}}
              {:id #uuid "67f38d04-5108-47ed-8624-cc4757257872",
               :page 7,
               :position {:bounding {:x1 56,
                                     :y1 483.76025390625,
                                     :x2 572,
                                     :y2 800.76025390625,
                                     :width 608.0000000000001,
                                     :height 859.8853641000143},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1744014594971},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
